/* @import url("https://fonts.kootahkon.ir/fonts?font=Estedad");
@import url("https://fonts.kootahkon.ir/fonts?font=Gandom");
@import url("https://fonts.kootahkon.ir/fonts?font=Jomhuria");
@import url("https://fonts.kootahkon.ir/fonts?font=Katibeh");
@import url("https://fonts.kootahkon.ir/fonts?font=Mikhak");
@import url("https://fonts.kootahkon.ir/fonts?font=Mirza");
@import url("https://fonts.kootahkon.ir/fonts?font=Parastoo");
@import url("https://fonts.kootahkon.ir/fonts?font=Sahel");
@import url("https://fonts.kootahkon.ir/fonts?font=Samim");
@import url("https://fonts.kootahkon.ir/fonts?font=Shabnam");
@import url("https://fonts.kootahkon.ir/fonts?font=Tanha");
@import url("https://fonts.kootahkon.ir/fonts?font=Vazir-Code");
@import url("https://fonts.kootahkon.ir/fonts?font=Vazir");
@import url("https://fonts.kootahkon.ir/fonts?font=XBKayhan");
@import url("https://fonts.kootahkon.ir/fonts?font=XBKhoramshahr");
@import url("https://fonts.kootahkon.ir/fonts?font=XBNiloofar");
@import url("https://fonts.kootahkon.ir/fonts?font=XBRoya");
@import url("https://fonts.kootahkon.ir/fonts?font=XBTitre");
@import url("https://fonts.kootahkon.ir/fonts?font=XBZar"); */

body {
  margin: 0;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Vazir";
}
